<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8" />
    <title>Traktamente</title>
</head>
<body>

<!--Det här är Kalenern-->     
<form method="POST" id="form">
    <p>Start datum</p>
<input type="date" name="startdate"/>
<input type="time" name="starttime"/>
<p>slut datum</p>
<input type="date" name="enddate"/>
<input type="time" name="endtime"/>
<br><br>
<input type="submit" value="Enter" />
</form>

<form method="POST" id="boxar"></form>

<p id="result" style="color:red"></p>

<script src="/static/script.js"></script>
</body>
</html>