<!DOCTYPE html>
<html>
<body>

<!--Det här är Kalenern-->     
<form id = "form">
<p>Start datum</p>
<input type="date" name="startdate"/>
<input type="time" name="starttime"/>
<p>slut datum</p>
<input type="date" name="enddate"/>
<input type="time" name="endtime"/>
<br><br>
<input type="submit" value="Enter" />
<div id="table"></div>

<p id="result" style="color:red"></p>
</form>

<!--Det här är radio knapparna-->     
{% if differens %}

<table border="1">

<tr>
<th>Dag</th>
<th>Frukost</th>
<th>Lunch</th>
<th>Middag</th>
<th>Ingen</th>
</tr>

{% for i in range(differens) %}

<tr>
<td>Dag {{ i+1 }}</td>

<td><input type="checkbox" name="Frukost{{i}}" value="Frukost"></td>
<td><input type="checkbox" name="Lunch{{i}}" value="Lunch"></td>
<td><input type="checkbox" name="Middag{{i}}" value="Middag"></td>
<td><input type="checkbox" name="Ingen{{i}}" value="Ingen"></td>
<td><input type="checkbox" name="eget boende{{i}}" value="eget"></td>


</tr>

{% endfor %}

</table>

{% endif %}

<script src="/static/script.js"></script>
</body>
</html>